# Data Science Tools and EcoSystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Julia
* SQL
* Scala
* Java

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. stringr
3. ggplot
4. caret

| Data Science Tools |
|--------------------|
| Python |
| MAX |
| Kubernetes |

### Below are a few examples of evaluating arithmetic expresions in Python

In [5]:
# This is a simple arithmetic expression to multiply the ass integer.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
B D